<!DOCTYPE html>
<html>
  <head>
    <title>Dkblake</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.12/semantic.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'App' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
